:host ::ng-deep .p-sidebar {
  width: 22rem;
  margin-top: 0;
}

:host ::ng-deep .p-menu {
  width: 100%;
  border: none;
}

:host ::ng-deep .p-menuitem-link-active {
  background: none;
  color: var(--primary-color);
}

:host ::ng-deep .p-menuitem-link-active > .p-menuitem-icon,
:host ::ng-deep .p-menuitem-link-active > .p-menuitem-text {
  color: var(--primary-color);
}
