<div [disabled]='controlDir.control!.disabled! || disableInput || keepDisabled'
     [errors]='errorsAsArray'
     [label]='label'
     [name]='controlDir.name!'
     [required]='required'
     [touched]='controlDir.control!.touched!'
     [valid]='controlDir.control!.valid!'
     [helpText]='helpText'
     app-input-wrapper
     class='p-field'>
    <p-multiSelect (onBlur)='onBlur()'
                   (onChange)='onChange($any($event.value))'
                   [(ngModel)]='value'
                   [disabled]='controlDir.control!.disabled! || disableInput || keepDisabled'
                   [id]='controlDir.name!'
                   [options]='optionsToDisplay'
                   [placeholder]='placeholder'
                   display='chip'
                   class='select-input'
                   optionLabel='label'
                   optionValue='value'></p-multiSelect>
</div>
