<div class='login-page-body'>
  <div class='p-d-flex p-jc-center p-ai-center'>
    <h1 class='text-indigo-600 ml-2 text-7xl' style="font-family: 'Arial Black',cursive;"><span
      class='text-primary'>H</span>CARE</h1>
  </div>
  <div class='login-form'>
    <div class='login-title'>
      <h2>Bine ai revenit!</h2>
    </div>
    <app-login-form></app-login-form>
    <app-primary-button
      (onClick)='navigateToRegisterPage()'
      styleType='link'
      label='Nu detii un cont?'></app-primary-button>
  </div>
</div>
