<div [disabled]="controlDir.control!.disabled! || disableInput"
     [errors]="errorsAsArray"
     [label]="label"
     [name]="controlDir.name!"
     [required]="required"
     [touched]="controlDir.touched!"
     [valid]="controlDir.valid!"
     [helpText]="helpText"
     app-input-wrapper
     class="p-field">

    <p-password (onBlur)="onBlur()"
                (input)="onChange($any($event.target).value)"
                [(ngModel)]="value"
                [disabled]="controlDir.control!.disabled! || disableInput"
                [id]="controlDir.name!"
                [ngClass]="validClass || ''"
                [placeholder]="placeholder"
                [toggleMask]="true"
                [feedback]='feedback'
                promptLabel="Introduceti o parola"
    >
    </p-password>
</div>
