<div class='register-page-body'>
  <div class='p-d-flex p-jc-center p-ai-center'>
    <h1 class='text-indigo-600 ml-2 text-7xl' style="font-family: 'Arial Black',cursive;"><span
      class='text-primary'>H</span>CARE</h1>
  </div>
  <div class='register-form'>
    <div class='register-title'>
      <h2>Creeaza un cont pentru un spital</h2>
    </div>
    <app-register-form></app-register-form>
    <app-primary-button
      (onClick)='navigateToLoginPage()'
      styleType='link'
      label='Ai deja un cont HCARE?'></app-primary-button>
  </div>
</div>

